<h1>All your places:</h1>

<% @user.places.each do |place| %>
    <h2><a href="/places/<%= place.slug %>"><%= place.name %></a></h2>
    <p><%= place.city %></p>
    <p><%= place.country.name %></p>
    <a class="btn btn-primary" href="/places/<%= place.slug %>/edit">Edit</a>
    <form action="/places/<%= place.slug %>/delete" method="post">
        <input type="hidden" id="hidden" name="_method" value="delete">
        <input type="submit" class="btn btn-danger" value="Delete" id="delete">
    </form>
<% end %>
