<% if @message %>
<div class="alert alert-info">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <%= @message %>
</div>
<% end %>

<div class="col-sm-7">
            
    <h1>Edit your Place:</h1>

    <form action="/places/<%= @place.slug %>" method="post">
        <input type="hidden" id="hidden" name="_method" value="patch">
        
        <div class="form-group">
            <label for="place_name">Name</label>
            <input type="text" class="form-control" id="place_name" placeholder="Place Name" name="place[name]" value="<%= @place.name %>">
        </div>

        <div class="form-group">
            <label for="city">City</label>
            <input type="text" class="form-control" id="city" placeholder="City" name="place[city]" value="<%= @place.city %>">
        </div>

        <div class="form-group">
            <label for="country">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Country" name="country[name" value="<%= @place.country.name %>">
        </div>

        <div class="form-group">
            <label for="country">Image URL</label>
            <input type="text" class="form-control" id="image_url" placeholder="Image URL" name="place[image_url]" value="<%= @place.image_url %>">
        </div>

        <button type="submit" class="btn btn-primary">Save Edits</button>
    </form>
</div>